[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/arunkandappan
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/arunkandappan
	label-Verified = -1..+1 group user/arunkandappan
	push = group user/arunkandappan
	read = group user/arunkandappan
	rebase = group user/arunkandappan
	removeReviewer = group user/arunkandappan
	submit = group user/arunkandappan
[access "refs/heads/*"]
	create = group user/arunkandappan
	push = +force group user/arunkandappan
	pushMerge = group user/arunkandappan
	read = group user/arunkandappan
[access "refs/tags/*"]
	push = group user/arunkandappan
	push = +force group user/arunkandappan
